.product-image {
  list-style-type: none;
  width: 100px;
  padding: 5px;
  margin: 6px 6px;
  border: 1px solid #3ea18d;
}

.product-container {
  margin-top: 20px;
  display:inline-block;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
