<div class="cont">
  <div class="flex-child">
    <img src="{{products[id-1].url}}">
  </div>

  <div class="flex-child">
    <h1>{{products[id-1].name}}</h1>
    <h2>${{products[id-1].price}}</h2>
    <input (mouseup)="onKey($event)" (mousedown)="downKey($event)" id="num" class="select-input" id="number" type="number" value="1">
    <button class="select-input" (click)="add(products[id-1].id,products[id-1].name,products[id-1].price,products[id-1].url)">Add to cart</button>
    <br>
    <button class="select-input" routerLink="/">Back to product list</button>
  </div>

</div>
